![student studying](https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)

Photo by [Green Chameleon](https://unsplash.com/@craftedbygc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/s/photos/study?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)
# Mod√©lisation des r√©sultats aux examens de 3√®me trimestre
---
## Transformation des donn√©es
Les valeurs erron√©es du jeu de donn√©es ont √©t√© corrig√©es ; c'est une tr√®s bonne chose !

Certaines valeurs sont √©galement exprim√©es dans les colonnes sous la forme de chaines de caract√®res (= string) avec des combinaisons binaires (ex. : "yes" or "no"). Ce type d'information est difficilement interpr√©table par certains algorithmes et il faut donc convertir ces valeurs.

Exemple :
* "yes" -> 1
* "no" -> 0

---

## Import du jeu de donn√©es

Comme pr√©c√©demment, nous importons la librairie Pandas et le jeu de donn√©es que tu as corrig√© pr√©c√©demment :

```
import pandas as pd

df = pd.read_csv("./student-2-corrected.csv")
df
```

In [ ]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule

## Transformation des valeurs "yes" et "no"
Pandas poss√®de une fonction "Replace" qui permet de chercher les occurrences d'un ou plusieurs termes pour les remplacer automatiquement.

Commen√ßons par regarder √† quoi ressemblerait le r√©sultat en ex√©cutant la commande suivante :

```
df.replace({"yes": 1, "no": 0})
```

In [ ]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule

*Note : Pandas nous montre le r√©sultat de notre op√©ration mais ne l'a pas appliqu√©e sur le DataFrame.*

Nous pouvons voir les valeurs des colonnes "schoolsup" et "famsup" ont bien √©t√© modifi√©es üëå

Nous allons donc indiquer √† Pandas que la nouvelle version du DataFrame (df) devient le tableau avec les valeurs modifi√©es :
```
df = df.replace({"yes": 1, "no": 0})
```

In [ ]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule

Nous allons r√©p√©ter la m√™me op√©ration pour convertir les autres colonnes comme suit :

**Colonne "sex" :**
* M => 0
* F => 1

**Colonne "Pstatus" :**
* T => 0
* A => 1

Cette fois-ci, nous voulons remplacer les valeurs dans une seule colonne, la syntaxe va donc √™tre :

```
df["nom_de_la_colonne"] = df["nom_de_la_colonne"].replace({"valeur_initiale_1": 0, "valeur_initiale_2": 1})
```

In [ ]:
# Cellule 1 - Remplacement dans la colonne "sex"
# Ins√®re ton code ci-dessous et ex√©cute la cellule

In [ ]:
# Cellule 2 - Remplacement dans la colonne "Pstatus"
# Ins√®re ton code ci-dessous et ex√©cute la cellule

Nous pouvons ex√©cuter l'instruction "df" pour afficher les valeurs du tableau et constater que les remplacements ont bien √©t√© effectu√©s.

In [ ]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule

Si tu es arriv√©(e) jusqu'ici, f√©licitations üôå

Tu as fini de pr√©parer le jeu de donn√©es !

Il ne te reste qu'√† ex√©cuter la cellule ci-dessous pour enregistrer tout cela dans un fichier et nous pourrons ensuite lancer l'entrainement d'un mod√®le.

In [ ]:
# Cellule √† ex√©cuter
df.to_csv("./student-3-prepared.csv", index=False)

[En route pour le notebook suivant !](./student-notebook-4-train.ipynb)