![student studying](https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)

Photo by [Green Chameleon](https://unsplash.com/@craftedbygc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/s/photos/study?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)
# Mod√©lisation des r√©sultats aux examens de 3√®me trimestre
---
## Transformation des donn√©es
Les valeurs erron√©es du jeu de donn√©es ont √©t√© corrig√©es ; c'est une tr√®s bonne chose !

Certaines valeurs sont √©galement exprim√©es dans les colonnes sous la forme de chaines de caract√®res (= string) avec des combinaisons binaires (ex. : "yes" or "no"). Ce type d'information est difficilement interpr√©table par certains algorithmes et il faut donc convertir ces valeurs.

Exemple :
* "yes" -> 1
* "no" -> 0

---

## Import du jeu de donn√©es

Comme pr√©c√©demment, nous importons la librairie Pandas et le jeu de donn√©es que tu as corrig√© pr√©c√©demment :

```
import pandas as pd

df = pd.read_csv("./student-2-corrected.csv")
df
```

In [1]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule
import pandas as pd

df = pd.read_csv("./student-2-corrected.csv")
df

,sex,age,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,A,4,4,2,2,0,yes,no,...,4,3,4,1,1,3,6,5,6,6
1,F,17,T,1,1,1,2,0,no,yes,...,5,3,3,1,1,3,4,5,5,6
2,F,15,T,1,1,1,2,3,yes,no,...,4,3,2,2,3,3,10,7,8,10
3,F,15,T,4,2,1,3,0,no,yes,...,3,2,2,1,1,5,2,15,14,15
4,F,16,T,3,3,1,2,0,no,yes,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,A,2,2,1,2,2,no,yes,...,5,5,4,4,5,4,11,9,9,9
391,M,17,T,3,1,2,1,0,no,no,...,2,4,5,3,4,2,3,14,16,16
392,M,21,T,1,1,1,1,3,no,no,...,5,5,3,3,3,3,3,10,8,7
393,M,18,T,3,2,3,1,0,no,no,...,4,4,1,3,4,5,0,11,12,10
394,M,19,T,1,1,1,1,0,no,no,...,3,2,3,3,3,5,5,8,9,9

## Transformation des valeurs "yes" et "no"
Pandas poss√®de une fonction "Replace" qui permet de chercher les occurrences d'un ou plusieurs termes pour les remplacer automatiquement.

Commen√ßons par regarder √† quoi ressemblerait le r√©sultat en ex√©cutant la commande suivante :

```
df.replace({"yes": 1, "no": 0})
```

In [2]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule
df.replace({"yes": 1, "no": 0})

,sex,age,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,A,4,4,2,2,0,1,0,...,4,3,4,1,1,3,6,5,6,6
1,F,17,T,1,1,1,2,0,0,1,...,5,3,3,1,1,3,4,5,5,6
2,F,15,T,1,1,1,2,3,1,0,...,4,3,2,2,3,3,10,7,8,10
3,F,15,T,4,2,1,3,0,0,1,...,3,2,2,1,1,5,2,15,14,15
4,F,16,T,3,3,1,2,0,0,1,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,A,2,2,1,2,2,0,1,...,5,5,4,4,5,4,11,9,9,9
391,M,17,T,3,1,2,1,0,0,0,...,2,4,5,3,4,2,3,14,16,16
392,M,21,T,1,1,1,1,3,0,0,...,5,5,3,3,3,3,3,10,8,7
393,M,18,T,3,2,3,1,0,0,0,...,4,4,1,3,4,5,0,11,12,10
394,M,19,T,1,1,1,1,0,0,0,...,3,2,3,3,3,5,5,8,9,9

*Note : Pandas nous montre le r√©sultat de notre op√©ration mais ne l'a pas appliqu√©e sur le DataFrame.*

Nous pouvons voir les valeurs des colonnes "schoolsup" et "famsup" ont bien √©t√© modifi√©es üëå

Nous allons donc indiquer √† Pandas que la nouvelle version du DataFrame (df) devient le tableau avec les valeurs modifi√©es :
```
df = df.replace({"yes": 1, "no": 0})
```

In [3]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule
df = df.replace({"yes": 1, "no": 0})

Nous allons r√©p√©ter la m√™me op√©ration pour convertir les autres colonnes comme suit :

**Colonne "sex" :**
* M => 0
* F => 1

**Colonne "Pstatus" :**
* T => 0
* A => 1

Cette fois-ci, nous voulons remplacer les valeurs dans une seule colonne, la syntaxe va donc √™tre :

```
df["nom_de_la_colonne"] = df["nom_de_la_colonne"].replace({"valeur_initiale_1": 0, "valeur_initiale_2": 1})
```

In [4]:
# Cellule 1 - Remplacement dans la colonne "sex"
# Ins√®re ton code ci-dessous et ex√©cute la cellule
df["sex"] = df["sex"].replace({"M": 0, "F": 1})

In [5]:
# Cellule 2 - Remplacement dans la colonne "Pstatus"
# Ins√®re ton code ci-dessous et ex√©cute la cellule
df["Pstatus"] = df["Pstatus"].replace({"T": 0, "A": 1})

Nous pouvons ex√©cuter l'instruction "df" pour afficher les valeurs du tableau et constater que les remplacements ont bien √©t√© effectu√©s.

In [6]:
# Ins√®re ton code ci-dessous et ex√©cute la cellule
df

,sex,age,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,18,1,4,4,2,2,0,1,0,...,4,3,4,1,1,3,6,5,6,6
1,1,17,0,1,1,1,2,0,0,1,...,5,3,3,1,1,3,4,5,5,6
2,1,15,0,1,1,1,2,3,1,0,...,4,3,2,2,3,3,10,7,8,10
3,1,15,0,4,2,1,3,0,0,1,...,3,2,2,1,1,5,2,15,14,15
4,1,16,0,3,3,1,2,0,0,1,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,20,1,2,2,1,2,2,0,1,...,5,5,4,4,5,4,11,9,9,9
391,0,17,0,3,1,2,1,0,0,0,...,2,4,5,3,4,2,3,14,16,16
392,0,21,0,1,1,1,1,3,0,0,...,5,5,3,3,3,3,3,10,8,7
393,0,18,0,3,2,3,1,0,0,0,...,4,4,1,3,4,5,0,11,12,10
394,0,19,0,1,1,1,1,0,0,0,...,3,2,3,3,3,5,5,8,9,9

Si tu es arriv√©(e) jusqu'ici, f√©licitations üôå

Tu as fini de pr√©parer le jeu de donn√©es !

Il ne te reste qu'√† ex√©cuter la cellule ci-dessous pour enregistrer tout cela dans un fichier et nous pourrons ensuite lancer l'entrainement d'un mod√®le.

In [7]:
# Cellule √† ex√©cuter
df.to_csv("./student-3-prepared.csv", index=False)

[En route pour le notebook suivant !](./student-notebook-4-train.ipynb)